<p id="notice"><%= notice %></p>

<p>
  <strong>Müşterinin Adı:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Numaralar:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @customer.website %>
</p>

<p>
  <strong>İş Alanı:</strong>
  <%= @customer.business %>
</p>
<p> Kayıtlı Ürünleri: </p>
<% @total_price = 0 %>
<% @customer.products.each do |product|  %>
  <%= link_to product.name , product_path(product.id) %>
  <% @total_price = product.price + @total_price %>
<% end %><br>
<p>
  Toplam Kazanç: <%= @total_price %>
</p>
<%= link_to 'Müşteriye Ürün Ekle', new_product_path %><br>
<%= link_to 'Müşteriyi Düzenle', edit_customer_path(@customer) %> |
<%= link_to 'Geri Dön', customers_path %>
