<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Number:</strong>
  <%= @customer.number %>
</p>

<p>
  <strong>Website:</strong>
  <%= @customer.website %>
</p>

<p>
  <strong>Business:</strong>
  <%= @customer.business %>
</p>
<p> Products </p>
<% @total_price = 0 %>
<% @customer.products.each do |product|  %>
  <%= link_to product.name , product_path(product.id) %>
  <% @total_price = product.price + @total_price %>
<% end %><br>
<p>
  Total Price: <%= @total_price %>
</p>
<%= link_to 'New Product', new_product_path %><br>
<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
