<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= Product.count %></span>
      Toplam Ürün Sayısı
    </li>
    <li class="list-group-item">
      <span class="badge"> <%= Customer.count %></span>
      Toplam Müşteri Sayısı
    </li>
    <li class="list-group-item">
      <% @i=0 %>
      <% @cproducts.each do |cproducts| %>
        <% if cproducts.customer_id == nil %>
            <% @i-1 %>
          <% else %>
            <% @i = @i+1 %>
        <% end %>
      <% end %>
      <span class="badge"> <%= @i %></span>
      Toplam Satılan Ürün Sayısı
    </li>
  </ul>
</div>
<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%=  @product.name %></span>
      En Çok Satılan Ürün
    </li>
    <li class="list-group-item">
      <span class="badge"> <%= @id %></span>
      Kaç Tane Satılmış
    </li>
    <li class="list-group-item">
      <span class="badge"> <%= @id * @product.price %> TL</span>
      Kazancı
    </li>
  </ul>
</div>
<div class="col-md-4">
  <ul class="list-group">
    <li class="list-group-item">
      <span class="badge"><%= @customer.name %></span>
      En Çok Kazandıran Müşteri
    </li>
    <li class="list-group-item">
      <span class="badge"> <%=@most_values%></span>
      Kaç Ürün Almış
    </li>
    <li class="list-group-item">
      <span class="badge">
      <% @total_price = 0 %>
      <% @customer.products.each do |product|  %>
        <% link_to product.name , product_path(product.id) %>
        <% @total_price = product.price + @total_price %>
      <% end %>
      <%= @total_price %> TL
      </span>
      Toplam Kazanç
    </li>
  </ul>
</div>
