
<%= bootstrap_form_for @product, url: products_path do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this customer from being saved:</h2>
      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
    <%= f.text_field :name , label: "Ürün Adı" %><br>
    <%= f.text_area :properties , label: "Ürün Özellikleri" %><br>
    <%= f.number_field :price, prepend: "TL", append: ".00" , label: "Ürün Fiyatı" %><br>
    <%= f.text_field :link , label: "Ürün Linki"%><br>
    <%= f.submit "Ürünü Ekle" , class: "btn btn-primary" %>
    <%= link_to  products_path do %>
      <button class="btn btn-success ">Geri</button>
    <% end %>
<% end %>
